---
import SectionWrapper from "../../ui/section/SectionWrapper.astro";
import AboutContent from "./AboutContent.tsx";
import userData from "../../../data/user.json";

const { description, traits } = userData;
---

<SectionWrapper id="about" className="py-20 md:py-32 relative overflow-hidden">
  <!-- Animated gradient background -->
  <div
    class="absolute inset-0 bg-gradient-to-br from-slate-50 via-blue-50/20 to-purple-50/20 dark:from-slate-900 dark:via-slate-800/50 dark:to-purple-900/20"
  >
  </div>

  <div class="container mx-auto px-4 relative z-10">
    <AboutContent client:load description={description} traits={traits} />
  </div>
</SectionWrapper>
