---
import SectionWrapper from "../../ui/section/SectionWrapper.astro";
import ExperienceContent from "./ExperienceContent.tsx";
import experienceData from "../../../data/experience.json";

interface Role {
  title: string;
  type: string;
  start: string;
  end: string;
  duration: string;
  locationType: string;
  skills: string[];
  achievements?: string[];
}

interface Company {
  company: string;
  location: string;
  totalDuration: string;
  logo: string;
  roles: Role[];
}

function calculateDuration(startDateStr: string, endDateStr: string): string {
  const start = new Date(startDateStr);
  const end =
    endDateStr.toLowerCase() === "present" ? new Date() : new Date(endDateStr);

  let months =
    (end.getFullYear() - start.getFullYear()) * 12 +
    (end.getMonth() - start.getMonth()) +
    1;
  const years = Math.floor(months / 12);
  const remainingMonths = months % 12;

  const parts = [];
  if (years > 0) parts.push(`${years} yr${years > 1 ? "s" : ""}`);
  if (remainingMonths > 0)
    parts.push(`${remainingMonths} mo${remainingMonths > 1 ? "s" : ""}`);

  return parts.join(" ") || "0 mos";
}

const experiences = (experienceData as Company[])
  .map((exp) => {
    const allRoles = exp.roles;
    if (allRoles.length === 0) return null;

    const companyStart = allRoles[allRoles.length - 1].start;
    const companyEnd = allRoles[0].end;

    const calculatedTotal = calculateDuration(companyStart, companyEnd);

    return {
      ...exp,
      totalDuration: calculatedTotal,
      roles: allRoles.map((role) => ({
        ...role,
        duration: calculateDuration(role.start, role.end),
      })),
    };
  })
  .filter((exp) => exp !== null);
---

<SectionWrapper
  id="experience"
  className="py-10 lg:py-20 relative overflow-hidden "
>
  <!-- Animated linear background  -->
  <div
    class="absolute inset-0 bg-linear-to-br from-slate-50 via-blue-50/20 to-purple-50/20 dark:from-slate-900 dark:via-slate-800/50 dark:to-purple-900/20"
  >
  </div>

  <div class="container mx-auto px-4 relative z-10">
    <!-- Title Section with Falling Animation -->
    <div class="text-center mb-20 max-w-3xl mx-auto">
      <h1
        class="text-5xl md:text-7xl font-black bg-clip-text text-transparent bg-linear-to-r from-orange-500 to-black dark:from-blue-300 dark:to-blue-500 mb-6 experience-h1"
      >
        Work Experience
      </h1>

      <p
        class="text-lg md:text-xl text-gray-700 dark:text-gray-300 leading-relaxed font-medium"
      >
        Recently working places and my professional journey
      </p>
    </div>

    <!-- Experience Cards -->
    <div class="max-w-4xl mx-auto">
      <ExperienceContent client:load experiences={experiences} />
    </div>
  </div>
</SectionWrapper>
