---
import { siteConfig } from "../../utils/siteConfig";

const socialLinks = [
  {
    name: "GitHub",
    url: "https://github.com/Badri-Gaire",
    icon: "github",
  },
  {
    name: "LinkedIn",
    url: siteConfig.socialLinks[0],
    icon: "linkedin",
  },
  {
    name: "Lab",
    url: siteConfig.lab,
    icon: "lab",
  },
  {
    name: "Email",
    url: `https://mail.google.com/mail/?view=cm&fs=1&to=${siteConfig.email}`,
    icon: "mail",
  },
];
---

<div class="flex gap-4">
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="text-secondary hover:text-primary transition-colors hover:-translate-y-1 transform duration-200 p-2"
        aria-label={link.name}
      >
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6 border-none"
          aria-hidden="true"
        >
          {link.icon === "github" && (
            <path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.11.81 2.235 0 1.62-.015 2.925-.015 3.315 0 .315.225.69.825.57A12.02 12.02 0 0024 12c0-6.63-5.37-12-12-12z" />
          )}
          {link.icon === "linkedin" && (
            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
          )}
          {link.icon === "lab" && (
            <path d="M16 2l-2 3v4.2c2.4 1 4 3.4 4 6.1a6.7 6.7 0 0 1-13.4 0c0-2.7 1.6-5.1 4-6.1V5L6.6 2h9.4z" />
          )}
          {link.icon === "mail" && (
            <path d="M24 4.5v15c0 .85-.65 1.5-1.5 1.5H21V7.39l-9 6.58-9-6.58V21H1.5c-.85 0-1.5-.65-1.5-1.5v-15c0-1.1.9-2 2-2h.75l9.25 6.75 9.25-6.75H22c1.1 0 2 .9 2 2z" />
          )}
        </svg>
      </a>
    ))
  }
</div>
