---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/features/home/BlogCard.astro";
import BadriHeroImage from "../../assets/images/badri-arthero.webp";
---

<BaseLayout title="Blog - Badri Gaire" heroImage={BadriHeroImage}>
  <div class="py-12">
    <BlogCard home="false" />
  </div>
</BaseLayout>
