---
const year = new Date().getFullYear();
---

<footer
  class="py-8 mt-12 border-t border-gray-100 dark:border-gray-800 text-center"
>
  <p>
    &copy; {year} Badri Gaire | Based in Bhairahawa, Nepal. All rights reserved.
  </p>
</footer>
