---
interface Props {
  name: string;
  icon?: string;
}

const { name, icon } = Astro.props;
const isIconUrl = icon?.startsWith("http") || icon?.startsWith("/");
---

<div
  class="flex items-center gap-3 hover:shadow-md transition-shadow"
>
  {
    icon &&
      (isIconUrl ? (
        <img src={icon} alt={name} class="w-8 h-8" />
      ) : (
        <span class="text-2xl">{icon}</span>
      ))
  }
  <span class="font-medium">{name}</span>
</div>
