---
import { ArrowUp } from "lucide-react";
---

<button
    id="scroll-to-top"
    aria-label="Scroll to Top"
    class="fixed bottom-10 right-8 h-12 w-8 flex items-center justify-center rounded-full bg-white/10 dark:bg-black/20 backdrop-blur-md border border-gray-200 dark:border-gray-800 text-gray-800 dark:text-gray-200 shadow-lg transition-all duration-500 transform translate-y-20 opacity-0 z-50 hover:bg-primary hover:text-white hover:border-primary hover:-translate-y-1 hover:shadow-xl group"
>
    <!-- Thin modern arrow -->
    <div class="relative h-full w-full flex items-center justify-center">
        <ArrowUp
            className="w-4 h-4 stroke-[3px] transition-transform duration-300 group-hover:-translate-y-1"
        />
    </div>
</button>

<script>
    const scrollToTopBtn = document.getElementById("scroll-to-top");

    const toggleVisibility = () => {
        if (window.scrollY > 300) {
            scrollToTopBtn?.classList.remove("translate-y-20", "opacity-0");
        } else {
            scrollToTopBtn?.classList.add("translate-y-20", "opacity-0");
        }
    };

    const scrollToTop = () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth",
        });
    };

    window.addEventListener("scroll", toggleVisibility);
    scrollToTopBtn?.addEventListener("click", scrollToTop);
</script>
