---
import { siteConfig } from "../utils/siteConfig";
import "../styles/globals.css";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Seo from "../components/shared/Seo.astro";
import ScrollToTop from "../components/ui/buttons/ScrollToTop.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title = siteConfig.title, description = siteConfig.description } =
	Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<Seo title={title} description={description} />
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/images/badri2.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-background text-foreground flex flex-col min-h-screen">
		<Navbar />
		<main class="flex-grow container mx-auto px-4 py-8">
			<slot />
		</main>
		<Footer />
		<ScrollToTop />
	</body>
</html>
