---
import BaseLayout from "./BaseLayout.astro";
import Container from "../components/shared/Container.astro";

interface Props {
  title: string;
  description: string;
  publishDate: Date;
}

const { title, description, publishDate } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Container>
    <article class="prose dark:prose-invert lg:prose-xl mx-auto py-10">
      <header class="mb-8">
        <time>{publishDate.toLocaleDateString()}</time>
        <h1 class="text-4xl font-bold mt-2">{title}</h1>
      </header>
      <slot />
    </article>
  </Container>
</BaseLayout>
